---
import type { Character } from "../interface/rickAndMortyType";
interface Props {
  character: Character;
}

const { character } = Astro.props;
---

<a href={`/character/${character.id}`}>
  <div>
    <img
      src={character.image}
      alt={character.name}
      transition:name={`character-${character.id}`}
    />
    <h3 transition:name={`character-name-${character.id}`}>{character.name}</h3>
  </div>
</a>

<style>
  a {
    width: 280px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
  }
  div {
    background-color: #232d3f;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.2s ease;
  }
  div:hover {
    transform: scale(1.1);
  }
  img {
    width: 260px;
    border-radius: 4;
  }
</style>
