---
import Layout from "../../layouts/Layout.astro";
import {
  getAllCharacters,
  getCharacterById,
} from "../../service/rickAndMortyAPI";

export async function getStaticPaths() {
  const allCharacters = await getAllCharacters();
  return allCharacters.map((character) => ({
    params: { id: character.id },
  }));
}
const { id } = Astro.params;
let character;
character = await getCharacterById(id);
---

<Layout title={character.name}>
  <section>
    <img
      src={character.image}
      alt={character.name}
      transition:name={`character-${character.id}`}
    />
    <div>
      <h2 transition:name={`character-name-${character.id}`}>
        {character.name}
      </h2>
      <p>Status: <span>{character.status}</span></p>
      <p>specie: <span>{character.species}</span></p>
      <p>Gender: <span>{character.gender}</span></p>
      <p>Location: <span>{character.location.name}</span></p>
    </div>
  </section>
</Layout>

<style>
  section {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }

  img {
    width: 400px;
    height: 500px;
    border-radius: 4px;
  }
  h2 {
    font-size: 52px;
    margin: 0;
  }
  p {
    font-size: 25px;
    margin: 10px 0;
    font-weight: 500;
    text-transform: uppercase;
  }
  span {
    font-weight: 400;
    text-transform: capitalize;
  }
  @media screen and (max-width: 768px) {
    section {
      flex-direction: column;
      align-items: center;
    }
    img {
      width: 300px;
      height: 400px;
    }
    h2 {
      font-size: 42px;
    }
    p {
      font-size: 20px;
    }
  }
</style>
